@{
    ViewBag.Title = "TIPO HABITACIÓN";
}

<main>
    <h2>@ViewBag.Title</h2>

    <div id="divBusquedaId" class="divBusqueda">
        <input type="text" id="TxtBoxTipoHabitacion" placeholder="Buscar por Nombre"/>
    </div>

    <div id="divTabla" class="TablaGenerica"></div> 
</main>

<script src="~/Scripts/TipoHabitacion.js"></script>