@{
    ViewBag.Title = "CRONOMEFY";
}

<main>
    <div class="DivSendData">
        <button class="btn"><a id="LinkObtenerCodigo">Obtener Código</a></button>
        <button class="btn" onclick="ObtenerToken()">Enviar Código</button>
    </div>
</main>

<script src="~/Scripts/SolicitudesApiSpotify.js"></script>